<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean name="SimpleImporter" class="com.jaspersoft.mongodb.importer.MongoDbSimpleImporter"
		lazy-init="false">
		<constructor-arg value="mongodb://127.0.0.1:27017/defaultDB" />
		<!-- Optional parameters -->
		<!-- Username -->
		<!-- <constructor-arg value="" /> -->
		<!-- Password --> 
		<!-- <constructor-arg value="" /> -->
		<constructor-arg value="sampleCollection" />
		<constructor-arg value="/mongo.json" />
	</bean>
</beans>